<!-- <div>   
<button  *ngFor="let machine of machineList"let i=index; type="button" class="btn btn btn-circle btn-sm"
style="margin-left: 10px; color: aliceblue;"
 (mouseenter)="openPopup(machine)"(mouseleave)="closePopup()"
  (click)="ppEntry(machine)"
[ngClass]="{'green' : machine.data.length <1?true:false, 'red': machine.data.length >0?true:false}"
[draggable]="true" 
(dragstart)="dragStartFrom($event, machine)"  
(drop)="onDropTo($event, machine)"       
 (dragover)="onDragOver($event)" 
 (dragleave)="onDragLeave($event)" 
 (dragend)="onDragLeave($event)"
 
>{{machine.No}}</button>

</div> -->


<!-- machine list  section -->
<div>
  <div class="row">
    <div class="col-md-2" *ngFor="let machine of machineList" let i=index;>
      <div class="card text-center" style="width: 10rem; ">
        <div class="card-header" (click)="openProgress(machine.No)">
          Assigned PP
        </div>
        <div class="card-body" [ngClass]="{'green' : machine.data.length <1?true:false, 'red': machine.data.length >0?true:false}">
          <h5 class="card-title">{{machine.No}}</h5>
          <p class="card-text">DIA/GG- 30*18</p>
          <button class="btn btn-primary" (click)="ppEntry(machine)">Add Production</button>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

    </div>
  </div>

</div>






<!-- progress bar show section -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayProgress}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Production List on this machine </h4>
        <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let pro of detailsData" cdkDrag>pp---{{pro.ppNo}}
              <button class="btn btn-warning" *ngIf="pro.status=='Active'">Stop</button>
              <button class="btn btn-success" *ngIf="pro.status=='Added'">Start</button>

            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>

<!-- pp details show section -->
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayProgress}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-md-12" *ngIf="detailsData.data?.length>0">
          <h4 class="modal-title">PP No: {{detailsData.data[0].ppNo}}</h4>
          <p>Fabric Type: {{detailsData.data[0].fabricType}}</p>
          <p>S/L: {{detailsData.data[0].slNo}}</p>
          <p>Yarn Count: {{detailsData.data[0].yarnCount}}</p>
          <p>Lot No: {{detailsData.data[0].lotNo}}</p>
          <p>Order Qty: {{detailsData.data[0].orderQty}}</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div> -->

<!-- PP entry section -->
<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':ppEntryStyle}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="row">

        <div class="modal-header">
          <h4 class="modal-title">PP entry for production</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="frmppEntry" (ngSubmit)="SavePP(frmppEntry.value)" style="height:300px;overflow-y: scroll;">
            <div class="form-group">
              <label class="col-form-label">Date:</label>
              <input type="date" formControlName="productionDate" class="form-control" id="productionDate">
            </div>
            <div class="form-group">
              <label class="col-form-label">pp:</label>
              <input type="text" formControlName="ppNo" class="form-control" id="ppNo">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Fabric Type:</label>
              <input type="text" formControlName="fabricType" class="form-control" id="fabricType">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Yarn Count:</label>
              <input type="text" formControlName="yarnCount" class="form-control" id="yarnCount">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Lot No:</label>
              <input type="text" formControlName="lotNo" class="form-control" id="lotNo">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">S/L:</label>
              <input type="text" formControlName="slNo" class="form-control" id="slNo">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Order Qty:</label>
              <input type="number" formControlName="orderQty" min="1" class="form-control" id="orderQty">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" (click)="closeppEntry()">Close</button>

            </div>
          </form>

        </div>

      </div>

    </div>
  </div>
</div>