<!-- <div>   
<button  *ngFor="let machine of machineList"let i=index; type="button" class="btn btn btn-circle btn-sm"
style="margin-left: 10px; color: aliceblue;"
 (mouseenter)="openPopup(machine)"(mouseleave)="closePopup()"
  (click)="ppEntry(machine)"
[ngClass]="{'green' : machine.data.length <1?true:false, 'red': machine.data.length >0?true:false}"
[draggable]="true" 
(dragstart)="dragStartFrom($event, machine)"  
(drop)="onDropTo($event, machine)"       
 (dragover)="onDragOver($event)" 
 (dragleave)="onDragLeave($event)" 
 (dragend)="onDragLeave($event)"
 
>{{machine.No}}</button>

</div> -->


<!-- machine list  section -->
<div>
  <div class="row">
    <div class="col-md-2" *ngFor="let machine of machineList" let i=index;>
      <div class="card text-center" style="width: 10rem; ">
        <div class="card-header" (click)="openProgress(machine.No)">
          Production
        </div>
        <div class="card-body"
          [ngClass]="ppColor(machine.No)">
          <h5 class="card-title">{{machine.No}}</h5>
          <p class="card-text">DIA/GG- {{machine.Dia}}*{{machine.GG}}</p>
          <p class="card-text">Type- {{machine.type}}</p>
          <p class="card-text">Brand- {{machine.brand}}</p>

         
          
        </div>
        <div class="card-footer text-muted">
          <button class="btn btn-primary  btn-sm"  (click)="ppEntry(machine)">Add Production</button>
        </div>
      </div>

    </div>
  </div>

</div>






<!-- production show section -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayProgress}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"style="width: 900px;">
      <div class="modal-header">
        <h4 class="modal-title">Production List on this machine </h4>
        <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="width: 900px;">
        <div class="row">
          <div class="col-md-6">
            <div class="example-box"[draggable]="true" (dragstart)="dragStartFrom($event, pro)" *ngFor="let pro of detailsData">
              pp-{{pro.ppNo}} ({{pro.startTime }}) ({{pro.orderQty}}) ({{pro.assignQty}}) ({{pro.completeQty}})
              <button class="btn btn-warning"type="button" (click)="ProductionStop(pro)" *ngIf="pro.status=='Active'">Stop</button>
              <button class="btn btn-success" type="button" (click)="ProductionStart(pro.ppNo,pro.machineNo)"  *ngIf="pro.status=='Added'">Start</button>

            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="example-box" *ngFor="let machine of machineList" 
              [ngClass]="ppColor(machine.No)"
              (dragover)="onDragOver($event)" 
              (drop)="onDropTo($event, machine)">
                machine {{machine.No}}


              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<!-- pp details show section -->
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayProgress}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-md-12" *ngIf="detailsData.data?.length>0">
          <h4 class="modal-title">PP No: {{detailsData.data[0].ppNo}}</h4>
          <p>Fabric Type: {{detailsData.data[0].fabricType}}</p>
          <p>S/L: {{detailsData.data[0].slNo}}</p>
          <p>Yarn Count: {{detailsData.data[0].yarnCount}}</p>
          <p>Lot No: {{detailsData.data[0].lotNo}}</p>
          <p>Order Qty: {{detailsData.data[0].orderQty}}</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div> -->

<!-- PP entry section -->
<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':ppEntryStyle}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="row">

        <div class="modal-header">
          <h4 class="modal-title">PP entry for production</h4>
        </div>
        <div class="modal-body" >
          <form [formGroup]="frmppEntry" (ngSubmit)="SavePP(frmppEntry.value)" style="height:600px;overflow-y: scroll;">
            <div class="form-group">
                <label class="col-form-label">Date:</label>
                <input type="date" formControlName="productionDate" class="form-control" id="productionDate">

                <input type="number" hidden [(ngModel)]="assignMachine" formControlName="machineNo" class="form-control" id="machineNo">
            </div>
            <div class="form-group">
              <label class="col-form-label">pp:</label>
              <input type="text" formControlName="ppNo" class="form-control" id="ppNo">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Fabric Type:</label>
              <input type="text" formControlName="fabricType" class="form-control" id="fabricType">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Yarn Count:</label>
              <input type="text" formControlName="yarnCount" class="form-control" id="yarnCount">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Lot No:</label>
              <input type="text" formControlName="lotNo" class="form-control" id="lotNo">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">S/L:</label>
              <input type="text" formControlName="slNo" class="form-control" id="slNo">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Order Qty:</label>
              <input type="number" formControlName="orderQty" min="1" class="form-control" id="orderQty">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" (click)="closeppEntry()">Close</button>

            </div>
          </form>

        </div>

      </div>

    </div>
  </div>
</div>

<!--  PP stop and completion form -->
<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':ppCompletionForm}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="row">

        <div class="modal-header">
          <h4 class="modal-title">Knitting Finish Entry</h4>
        </div>
        <div class="modal-body" >
          <form #ppCompletion = "ngForm" (ngSubmit) = "ppCompleteEntry(ppCompletion.value)" style="height:380px;overflow-y: scroll;">
          
            <div class="form-group">
              <label class="col-form-label">pp:</label>
              <input type="text"  class="form-control" id="ppNo" name="ppNo" [(ngModel)]="ppNo">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Order Qty:</label>
              <input type="number"  min="1" class="form-control" id="orderQty" name="orderQty" [(ngModel)]="orderQty">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Assign Qty:</label>
              <input type="number"  min="1" class="form-control" id="assignQty" name="assignQty" [(ngModel)]="assignQty">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Complete Qty:</label>
              <input type="number"  min="1" class="form-control" id="completeQty" name="completeQty" [(ngModel)]="completeQty">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" (click)="closeppEntry()">Close</button>

            </div>
          </form>

        </div>

      </div>

    </div>
  </div>
</div>