<div class="container">
  <h3 class="d-flex justify-content-center" style="background-color: rgb(123, 224, 228);font-style:italic;font-weight: bold;"> DASHBOARD</h3>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark"style="margin-bottom: 5px;">
    <ul class="navbar-nav" >
      <!-- <li class="nav-item">
        <button routerLink="category" class="m-1 btn btn-light btn-outline-primary" Button>Category</button>
      </li>
      <li class="nav-item">
        <button routerLink="product" class="m-1 btn btn-light btn-outline-primary" Button>Product</button>
      </li> -->
      <nav>
        <ul class="nav">
      
          <li *ngFor="let main of menuList">
            <button routerLink="{{main.NavUrl}}"*ngIf="main.ParentId==0"  class="m-1 btn btn-light btn-outline-primary" Button>{{main.Name}}</button>
            <!-- <a *ngIf="main.ParentId==0" href="#">{{main.Name}}</a> -->
            
            <ul>
              <li *ngFor="let menu of menuList"><a *ngIf="menu.ParentId ==main.Id" href="{{menu.NavUrl}}">{{menu.Name}}</a></li>
            </ul>
          </li>
          <li>
            <button routerLink="/machine/dashboard" class="m-1 btn btn-light btn-outline-primary" Button>Knitting</button>
          </li>
          <li>
            <button routerLink="/dyeing/dyeing-dashboard" class="m-1 btn btn-light btn-outline-primary" Button>Dyeing</button>
            <ul>
              <li><button routerLink="/dyeing/dye-entry" class="m-1 btn btn-light btn-outline-primary" Button>Dyeing Plan Entry</button></li>
              <li><button routerLink="/dyeing/dyeing-dashboard" class="m-1 btn btn-light btn-outline-primary" Button>Dyeing Plan List</button></li>
              
            </ul>
          </li>
          
            
        </ul>
      </nav>
    </ul>
  </nav>
  <!-- page -->
  <router-outlet></router-outlet>
</div>
